@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: #f9f9f9;
}
.pagination-container {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 10;
}
.pagination-container button {
    display: block;
    margin: 90px 0 0 0;
    padding: 10px 20px;
    background: transparent;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.pagination-container button:focus {
    outline: none;
}

.banner-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
}

.crow-banner a{
    background: transparent;
    color: var(--color-white);
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #222b31;
    padding: 12px 37px;
    transition: .3s;
    font-size: 13px;
    margin-top: 20px;
    text-transform: uppercase;
}

.crow-banner a:hover{
    background-color: #222b31;
    color: var(--color-black);
    cursor: pointer;
}

.menu-container {
    position: absolute; /* Use fixed if you want it to stay at the top even when scrolling */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 10px 0; /* Adjust as needed */
}

.menu-button img {
    width: 140px; /* Adjust as needed */
    height: 140px;
    cursor: pointer;
    object-fit: cover;
}

.menu-links {
    position: absolute;
    display: flex;
    gap: 20px;
    opacity: 0;
    font-size: 12px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-bottom: 20px;
}

.menu-links.left {
    left: 53%;
    transform: translateX(-150%) scaleX(0);
    transform-origin: right;
}

.menu-links.right {
    right: 54%;
    transform: translateX(150%) scaleX(0);
    transform-origin: left;
}

.menu-link {
    color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.menu-links.active.left {
    opacity: 1;
    transform: translateX(-130%) scaleX(1);
}

.menu-links.active.right {
    opacity: 1;
    transform: translateX(130%) scaleX(1);
}

.menu-icon{
    display: none;
}

.menu-link img{
    width: 30px;
    height: 30px;
    display: none;
}

.crow-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url('../images/BG1.jpg'); background-position: top; background-size: cover;
}

.crow-logo-text{
    width: 220px;
    height: 60px;
    object-fit: cover;
}

.crow-logo-img{
    width: 180px;
    height: 100px;
    object-fit: cover;
    margin-top: 50px;
}

.crow-banner-icons {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.crow-banner-icons img{
    width: 23px;
    height: 23px;
    transition: transform .3s;
    cursor: pointer;
}

.crow-banner-icons img:hover{
    transform: scale(1.1);
}


@media (max-width: 769px){
    .menu-links.active.left {
        transform: translateX(-145%) scaleX(1);
    }
    
    .menu-links.active.right {
        opacity: 1;
        transform: translateX(145%) scaleX(1);
    }

    .menu-text{
        display: none;
    }

    
    .menu-icon{
        display: flex;
    }

    .menu-link{
        padding: 10px 15px;
    }

    .menu-link img{
        display: flex;
    }
}

@media (max-width: 450px){
    .pagination-container {
        position: fixed;
        bottom: 30px;
        top: auto;
        right: 10%;
        transform: translateX(50%);
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }

    .pagination-container button{
        margin: 0;
    }
}

@media (max-width: 376px){
    .menu-link{
        padding: 10px 10px;
    }

    .menu-links.active.left {
        transform: translateX(-147%) scaleX(1);
    }
    
    .menu-links.active.right {
        opacity: 1;
        transform: translateX(147%) scaleX(1);
    }
    .pagination-container {
        right: 12%;
    }
}


@media (max-width: 321px){
    .menu-link img{
        width: 24px;
        height: 24px;
    }
    .pagination-container {
        right: 20%;
    }
}

.banner-2{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../images/Default_black_background_tech_lines_all_black_blacker_few_line_2.jpg'); background-position: top; background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-banner-2 img{
    width: 145px;
    height: 95px;
    object-fit: cover;
    margin: 10px 0 0 56px;
}


.crow-banner-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.crow-content-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin-bottom: 250px;
}

.crow-banner-2 img{
    width: 230px;
    height: 185px;
    object-fit: cover;
}

.crow-banner-2 p{
    color: var(--color-white);
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 2px;
}


@media (max-width: 426px){
    .crow-banner-2 p{
        font-size: 11px;
        padding: 0 10px;
    }

    .menu-banner-2 img{
        width: 130px;
        height: 85px;
        margin-left: 30px;
    }
}

@media (max-width: 376px){
    
    .crow-banner-2 img{
        width: 180px;
        height: 175px;
    }
    .crow-banner-2 p{
        font-size: 9px;
    }
}

@media (max-width: 321px){

    .crow-banner-2 img{
        width: 170px;
        height: 170px;
    }

    .crow-banner-2 p{
        font-size: 8px;
    }
}


.banner-3 {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75 )), url('../images/Default_black_backgroundTech_Lines_All_Black_More_Black_Few_Li_2.jpg'); background-position: top; background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-banner-3 img {
    width: 145px;
    height: 95px;
    object-fit: cover;
    margin: 10px 0 0 56px;
}

.crow-banner-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    height: 100vh;
}

.crow-content-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1193px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    
    margin-bottom: 250px;
}

.crow-content-3 a {
    width: calc((100% - 72px) / 3); /* Calcula dinamicamente a largura dos cards com espaço entre eles */
    height: 424px; /* Altura fixa dos cards */
    background-color: var(--color-white);
    margin: 12px; /* Espaçamento entre os cards */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    border: 2px solid #212529;
    transition: transform .3s;
}
.crow-content-3 a:hover{
    transform: scale(1.05);
}

/* Ajustes específicos para os primeiros e terceiros cards */
.crow-content-3 a:nth-child(1),
.crow-content-3 a:nth-child(3) {
    width: calc((100% - 72px) / 3); /* Ajuste de largura */
    height: 374px; /* Altura específica para o primeiro e terceiro card */
    margin-top: 58px; /* Margem superior ajustada */
}

a div{
    margin-top: 30px;
    margin-bottom: 30px;
}

.crow-content-3 div h2 {
    font-size: 35px;
    color: var(--color-white);
}

.crow-content-3 div p {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: 10px;
}


.loading_icon{
    width: 27px;
    height: 27px;
}

/* Ajustes para telas médias */
@media (max-width: 1200px) {
    .crow-content-3 a {
        width: 300px;
        height: 320px;
        margin: 10px 10px;
    }
    .crow-content-3 a:nth-child(1),
    .crow-content-3 a:nth-child(3) {
        width: 280px;
        height: 300px;
    }
}

/* Ajustes para telas pequenas */
@media (max-width: 769px) {
    .crow-content-3{
        margin-bottom: 270px;
    }

    .crow-content-3 a {
        width: 210px;
        height: 250px;
    }
    .crow-content-3 a:nth-child(1),
    .crow-content-3 a:nth-child(3) {
        width: 185px;
        height: 220px;
    }

    .crow-content-3 div h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--color-white);
    }
    
    .crow-content-3 div p {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-white);
    }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 480px) {
    .crow-content-3 a {
        width: 150px;
        height: 180px;
    }
    .crow-content-3 a:nth-child(1),
    .crow-content-3 a:nth-child(3) {
        width: 150px;
        height: 180px;
        margin-top: 10px;
    }
    .crow-content-3 div h2 {
        font-size: 23px;
        font-weight: bold;
        color: var(--color-white);
    }
    
    .crow-content-3 div p {
        font-size: 12px;
        font-weight: 500;
        color: var(--color-white);
    }

    
    .menu-banner-3 img{
        width: 130px;
        height: 85px;
        margin-left: 30px;
    }

        
    a div{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .loading_icon{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 376px){
    .crow-content-3 a {
        width: 140px;
        height: 170px;
    }
    .crow-content-3 a:nth-child(1),
    .crow-content-3 a:nth-child(3) {
        width: 140px;
        height: 170px;
        margin-top: 10px;
    }
    .crow-content-3 div h2 {
        font-size: 20px;
    }
    
    .crow-content-3 div p {
        font-size: 12px;
    }

    .loading_icon{
        width: 23px;
        height: 23px;
    }
}

@media (max-width: 321px){
    .crow-content-3 a {
        width: 130px;
    }
    .crow-content-3 a:nth-child(1),
    .crow-content-3 a:nth-child(3) {
        width: 130px;
    }
    
    .crow-content-3{
        margin-top: 30px;
        padding: 0 10px;
    }
}

.banner-4{
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-banner-4 img{
    width: 145px;
    height: 95px;
    object-fit: cover;
    margin: 10px 0 0 56px;
}


.crow-banner-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap; /* Permite quebra de linha quando necessário */
}

.crow-content-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text{
    color: #FFFFFF;
    max-width: 300px;
    width: 100%;
    margin-bottom: 150px;
    margin-right: 200px;
    
}

.contact-text h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 78px;
}

.contact-text div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
}

.contact-text img {
    width: 24px;
    height: 24px;
    transition: transform .3s;
}

.contact-text img:hover{
    transform: scale(1.1);
}

.contact-text p{
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    color: var(--color-white);
}

.contact-icons {
    gap: 30px;
}


.copy p{
    font-size: 11px;
    margin: 0;
    color: #FFFFFF;
}

.contact-form{
    max-width: 558px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 190px;
}

.contact-form img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

form div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--color-white);
    width: 100%;
}

form div label{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

form div input,
form div textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid #222b31;
    width: 419px;
    outline: none;
    color: var(--color-white);
    font-size: 13px;
}

form button{
    background: transparent;
    color: var(--color-white);
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #222b31;
    padding: 12px 37px;
    transition: .3s;
    font-size: 13px;
}

form button:hover{
    background-color: #222b31;
    color: var(--color-black);
    cursor: pointer;
}


/* Ajustes para telas pequenas */
@media (max-width: 769px) {
    .contact-form{
        display: none;
    }

    .contact-text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin: 0 0 250px 0;
    }

    .contact-text div{
        margin: 15px 0;
    }

    .contact-text h2{
        margin: 15px;
    }
}

@media (max-width: 426px){
    
    .menu-banner-4 img{
        width: 130px;
        height: 85px;
        margin-left: 30px;
    }

     .contact-text div{
        margin: 10px 0;
    }

    .contact-text h2{
        margin: 20px;
    }

    .contact-text p{
        font-size: 15px;
        margin: 0 10px;
    }

    .copy p{
        font-size: 10px;
    }
}


@media (max-width: 376px){
    
     .contact-text div{
        margin: 10px 0;
    }

    .contact-text h2{
        margin: 20px;
        font-size: 18px;
    }

    .contact-text p{
        font-size: 13px;
        margin: 0 10px;
    }
    .copy p{
        font-size: 10px;
    }
}


.banner-5 {
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.80)), url('../images/BG2.jpg'); background-position: top; background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-banner-5 img {
    width: 145px;
    height: 95px;
    object-fit: cover;
    margin: 10px 0 0 56px;
}

.crow-banner-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os cards quebrem linha */
    max-width: 100%; /* Largura máxima ocupando todo o espaço disponível */
    padding: 0 20px; /* Espaçamento interno */
    height: 100vh;
}

.crow-content-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os cards quebrem linha */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 50px;
    margin-bottom: 250px;
}

.crow-content-5 div {
    width: 300px;
    height: 400px; /* Altura fixa para os cards */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo dentro do card */
    border: 1px solid #222b31;
}

.crow-content-5 h2 {
    color: #fff;
    font-size: 15px; /* Tamanho da fonte para o título */
    font-weight: bold;
    margin-bottom: 10px; /* Espaçamento inferior para o título */
    letter-spacing: 1px;
}

.crow-content-5 p {
    color: #a2a3a5;
    font-size: 13px; /* Tamanho da fonte para o texto */
    text-align: center;
    margin-top: 50px; /* Espaçamento superior entre o texto e o título */
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 21px;
}

.crow-content-5 img {
    width: 70px; /* Tamanho do ícone */
    height: 70px;
    margin: 50px 0 50px 0; /* Espaçamento superior e inferior */
}

/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .crow-content-5{   
        margin-bottom: 300px;
    }
    .crow-content-5 div {
        width: calc(50% - 20px); /* Cards ocupando metade da largura disponível com margens reduzidas */
        max-width: calc(50% - 20px); /* Largura máxima ocupando metade do container pai com margens reduzidas */
        height: 200px; /* Redução da altura dos cards */
        padding: 15px; /* Espaçamento interno reduzido */
    }

    .crow-content-5 h2 {
        font-size: 14px; /* Redução do tamanho da fonte para o título */
    }

    .crow-content-5 p {
        font-size: 11px; /* Redução do tamanho da fonte para o texto */
        margin-top: 5px; /* Espaçamento superior reduzido */
        margin-bottom: 5px; /* Espaçamento inferior reduzido */
    }

    .crow-content-5 img {
        width: 50px; /* Redução do tamanho do ícone */
        height: 50px;
        margin: 15px 0; /* Espaçamento superior e inferior reduzido */
    }
    .menu-banner-5{
        height: 70px;
    }
}

/* Media query para telas menores que 576px */
@media (max-width: 576px) {
    .crow-content-5 div {
        width: calc(50% - 20px); /* Cards ocupando toda a largura disponível com margens reduzidas */
        max-width: calc(100% - 20px); /* Largura máxima ocupando toda a largura do container pai com margens reduzidas */
        height: 210px; /* Redução adicional da altura dos cards */
        padding: 10px; /* Espaçamento interno ainda mais reduzido */
    }

    .crow-content-5 h2 {
        font-size: 13px; /* Redução adicional do tamanho da fonte para o título */
    }

    .crow-content-5 p {
        font-size: 9px; /* Redução adicional do tamanho da fonte para o texto */
        line-height: 14px;
    }

    .crow-content-5 img {
        width: 50px; /* Redução adicional do tamanho do ícone */
        height: 50px;
        margin: 10px 0; /* Espaçamento superior e inferior ainda mais reduzido */
    }

    
    .menu-banner-5 img{
        width: 130px;
        height: 85px;
        margin-left: 30px;
    }
}

/* Media query para telas menores que 376px */
@media (max-width: 376px) {
    .crow-content-5 div {
        width: calc(52% - 20px); /* Cards ocupando toda a largura disponível com margens reduzidas */
        max-width: calc(100% - 20px); /* Largura máxima ocupando toda a largura do container pai com margens reduzidas */
        height: 190px; /* Redução adicional da altura dos cards */
        padding: 8px; /* Espaçamento interno ainda mais reduzido */
    }

    .crow-content-5 h2 {
        font-size: 12px; /* Redução adicional do tamanho da fonte para o título */
    }

    .crow-content-5 p {
        font-size: 8px; /* Redução adicional do tamanho da fonte para o texto */
        line-height: 13px;
    }

    .crow-content-5 img {
        width: 40px; /* Redução adicional do tamanho do ícone */
        height: 40px;
        margin: 8px 0; /* Espaçamento superior e inferior ainda mais reduzido */
    }
}

/* Media query para telas menores que 321px */
@media (max-width: 321px) {
    .crow-content-5 div {
        padding: 5px 0; /* Espaçamento interno ainda mais reduzido */
        margin-top: 20px;
    }

    .crow-content-5 h2 {
        font-size: 11px; /* Redução adicional do tamanho da fonte para o título */
    }

    .crow-content-5 p {
        line-height: 12px;
    }
}



/* Intersection Observer Animations */
[data-anime] {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

[data-anime].animate {
    opacity: 1;
    transform: translateY(0);
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 2px solid var(--color-black);
    border-radius: 50%;
    border-top: 2px solid #14161D;
    width: 95px;
    height: 95px;
    animation: spin 2s linear infinite;
}

#preloader img{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #14161D;
  }
  /* Fundo que corre */
  
  ::-webkit-scrollbar {
    width: 6px;
    background: #212529;
  }
  
  /* Linha que desce */
  ::-webkit-scrollbar-thumb {
    background: #212529;
    border-radius: 5px;
  }
  /* Linha que desce*/
  
  
  /* Barra de Rolagem */

  @media(max-width: 768px) {
    ::-webkit-scrollbar {
        display: none; 
    }
}